*{
    font-family: cursive ;
}
h1{
    background-color: black;
    text-align: left;
}
.white {
    color: white;
}
.aqua{
    color: aqua;
}
h2{
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
h3{
    background-color: powderblue ;
    text-align: right;
    font-weight: lighter;
    text-decoration: underline;
}